* {
  margin: 0;
  padding: 0;
}

nav {
  margin-top: 20px;
}

ul {
  overflow: auto;
  list-style-type: none;
}

li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  color: #ccc;
  font: 20px Helvetica, Verdana, sans-serif;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

li a:hover {
  color: #666;
}

li.active a {
  font-weight: bold;
  color: #333;
}

#loginForm, #signinForm {
	width: 80%;
	margin: 0 auto;
}

#inventoryTitle {
	margin-left: 10px;
}

.btn.cart, .pull-right.logout {
	margin-right: 14px;
	cursor: pointer;
}

#addToCart {
	padding: 0 10px;
	float: right;
}

.cart-container {
	background-color: white;
	width: 50%;
	margin: 20px auto;
}

.inStock {
	padding: 0 10px;
	font-weight: bold;
}

.inStock.plenty {
	color: #5cb85c;
}

.inStock.some {
	color: #f0ad4e;
}

.inStock.almostGone {
	color: #d9534f;
}

div.no-items.jumbotron {
	padding: 30px;
}

.addOrNah {
  cursor: pointer;
}

div.no-items.jumbotron a {
	margin-top: 15px;
}

#cartItems {
	display: block;
	overflow: scroll;
	height: 300px;
}

#cartItem {
	width: 100%;
	padding: 18px;
}

#gtsLogo {
  display: inline-block;
  width: 200px;
}

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
.left {
  float: left;
}
.clear {
clear: both;
}

.buysblock {
  background: rgb(38,168,226);
}
.commentsblock {
  background: rgb(39,183,121);
}

.dashboard h1 {
	margin-left: 15px;
}

.dashboard.row {
  border: solid 1px black;
}

.metroblock {
  width: 21em;
  padding: 0em 1em 1em 1em;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  margin: 1em;
  cursor: pointer;
}

.metroblock:hover {
	opacity: 0.5;
}

.metroblock h1, .metroblock h2, .metroblock .icon {
  font-weight: 300;
  margin-top: 10px;
  padding: 0;
}
.metroblock h1, .metroblock .icon {
  font-size: 7em;
  text-align: center;
}
.metroblock .icon {
  margin-right: .2em;
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
	.cart-container {
		width: 100%;
	}

    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}

	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}

	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}



	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
}

#profileh1 {
	margin-left: 15px;
}

.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card .card-heading {
  padding: 0 20px;
  margin: 0;
}
.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}
.card .info .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
}
.card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
}
.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999;
}
.card .card-body {
  padding: 0 20px;
  margin-top: 20px;
}
.card .card-media {
  padding: 0 20px;
  margin: 0 -14px;
}
.card .card-media img {
  max-width: 100%;
  max-height: 100%;
}
.card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
}
.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8;
}
.card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px;
}
.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}
.card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}
.card.people:first-child {
  margin-left: 0;
}
.card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff;
}
.card.people .card-top.green {
  background-color: #53a93f;
}
.card.people .card-top.blue {
  background-color: #427fed;
}
.card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
}
.card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
}
.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(214, 224, 226, 0.2);
}
.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}
.card.hovercard .avatar span {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .info {
  padding: 4px 8px 10px;
}
.card.hovercard .info .user-role {
  background-color: #5fcf80;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 24px;
}
.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 36px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}
.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}
.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}
.edit-data{
  display: none;
}

.data-entries th:hover .edit-data{
  display: inline-block;
  cursor: pointer;
}

.data-entries:hover {
  cursor: pointer;
  opacity: .5;
}

#onTheTruck {
  width: 25px;
}

.data-entries td:hover .edit-data{
  display: inline-block;
  cursor: pointer;
}
