<a class="pull-right logout btn btn-info" ng-click="logout()"><span>Log out</span></a>
<span style="display:flex;"><h1 id="inventoryTitle">Inventory</h1>
  <a style="margin: 30px 8px" ng-click="formData.showAddForm = !formData.showAddForm" ng-show="!formData.showAddForm">add</a>
  <a style="margin: 30px 8px" ng-click="formData.showAddForm = !formData.showAddForm" ng-show="formData.showAddForm">nah</a>
</span>


<table class="table table-striped">
    <thead>
      <tr ng-show="formData.showAddForm" style="background-color: green;">
          <th><img src="images/add.png" style="height:17px;"> <input type="text" name="item name" placeholder="item name" ng-model="formData.name"></th>
          <th>
            <img src="images/add.png" style="height:17px;">
            <input type="text" name="address" ng-model="formData.price" placeholder="item price">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="images/add.png" style="height:17px;">
            <input type="password" placeholder="item stock" ng-model="formData.stock">&nbsp;&nbsp;
            <input type="button" ng-click="addToInventory()" class="btn-sm btn-default" value="Add Inventory">
          </th>

      </tr>
      <tr>
        <th>ID #</th>
        <th>Item</th>
        <th>Price</th>
        <th>In stock</th>
      </tr>
    </thead>
    <tbody>
      <tr class="data-entries" ng-repeat="item in items track by $index">
        <td>
            <span ng-hide="model.showForm == ''+ $index + 0">{{ item.itemId }}</span>
            <span ng-hide="model.showForm == ''+ $index + 0" class="edit-data" ng-click="showEditForm($index, 0)"><img src="images/pencil.png" style="height:8px;"></span>
            <span ng-show="model.showForm == ''+ $index + 0"><input type="text" ng-model="model.recordValue"> <img src="images/add.png" style="height:17px;" ng-click="updateInventory()"></span>
        </td>
        <td>
          <span ng-hide="model.showForm == ''+ $index + 1">{{ item.name }}</span>
          <span ng-hide="model.showForm == ''+ $index + 1" class="edit-data" ng-click="showEditForm($index, 1)"><img src="images/pencil.png" style="height:8px;"></span>
			    <span ng-show="item.name === 'cat-in-the-hat (brail)'"><img src="components/inventory/cat.png" style="height:25px;"></span>
          <span ng-show="model.showForm == ''+ $index + 1"><input type="text" ng-model="model.recordValue"> <img src="images/add.png" style="height:17px;" ng-click="updateInventory()"></span>
		    </td>
        <td>
          <span ng-hide="model.showForm == ''+ $index + 3">${{ item.price }}</span>
          <span ng-hide="model.showForm == ''+ $index + 3" class="edit-data" ng-click="showEditForm($index, 3)"><img src="images/pencil.png" style="height:8px;"></span>
          <span ng-show="model.showForm == ''+ $index + 3"><input type="text" ng-model="model.recordValue"> <img src="images/add.png" style="height:17px;" ng-click="updateInventory()"></span>
        </td>
        <td>
          <span class="inStock {{ getStock($index) }}">
            <span ng-show="item.stock > 0">
              <span ng-show="getStock($index) === 'almostGone'">
                Only
              </span>
              <span ng-hide="model.showForm == ''+ $index + 2">{{ item.stock }} left</span>
              <span ng-show="model.showForm == ''+ $index + 2"><input type="text" ng-model="model.recordValue"> <img src="images/add.png" style="height:17px;" ng-click="updateInventory()"></span>
            </span>
            <span class="text-danger" ng-show="item.stock <= 0 && model.showForm != ''+ $index + 2">Sold out</span>
            <span ng-show="item.stock <= 0 && model.showForm == ''+ $index + 2"><input type="text" ng-model="model.recordValue"> <img src="images/add.png" style="height:17px;" ng-click="updateInventory()"></span>
          </span>
            <span ng-hide="model.showForm == ''+ $index + 2" class="edit-data" ng-click="showEditForm($index, 2)"><img src="images/pencil.png" style="height:8px;"></span>
          </span>
        <td>
          <td>
              <button id="addToCart" class="btn btn-danger" ng-click="deleteInventory($index)">X</button>
          </td>
      </tr>
    </tbody>
</table>

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog">
  <div class="cart-container">
    <table id="cart" class="table table-hover table-condensed">
      <tbody id="cartItems">
        <tr ng-repeat="c in cart track by $index">
          <td id="cartItem" data-th="Product">
            <div class="row">
              <div class="col-sm-10">
                <h4 class="nomargin">{{ c.name }}</h4>
              </div>
            </div>
          </td>
          <td data-th="Price">${{ c.price }}</td>
          <td class="actions" data-th="">
            <button class="btn btn-danger btn-sm" ng-click="removeItemFromCart(c, $index)">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><a class="btn btn-warning" data-dismiss="modal"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
          <td colspan="2" class="hidden-xs"></td>
          <td class="hidden-xs text-center"><strong>Total: ${{ getTotalPrice() }}</strong></td>
          <td>
            <a ng-click="goToInvoice()" class="btn btn-success btn-block">Checkout
              <i class="fa fa-angle-right"></i>
            </a>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
