<form id="loginForm" method="POST">
  <h1>Sign In</h1>
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" ng-model="formData.customerId" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" ng-model="formData.password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-info" ng-click="login()">Submit</button>

  <br><br> 
  <h3>
    <a ui-sref="signup">
      Don&rsquo;t have an account? Sign up!
    </a>
  </h3>
</form>