<h1 id="profileh1">Profile Page</h1>
<div class="container">
	<div class="row">
	    <div class="card hovercard">
	    	<!-- .card .card-heading.image img -->
	        <div class="info">
	        	<div class="user-role">
	        		ybzadough14
	        	</div>
	        	<div class="card-heading image">
		    		<img src="https://community.teamdynamix.com/Images/GenericUser.png" alt="profile picture">
		    	</div>
	            <div class="title">
	                Yazeed Bzadough
	            </div>
	            <div class="desc">123 Main Street</div>
	        </div>
	    </div>
	</div>
</div>