<h1 id="profileh1">Profile Page</h1>
<div class="container">
	<div class="row">
	    <div class="card hovercard">
	        <div class="info">
	        	<div class="user-role">
	        		{{ user.customerId }}
	        	</div>
	        	<div class="card-heading image">
		    		<img src="https://community.teamdynamix.com/Images/GenericUser.png" alt="profile picture">
		    	</div>
	            <div class="title">
	                {{ user.name }}
	            </div>
	            <div class="desc">{{ user.address }}</div>

							<div class="invoices">

								<ul class="list-unstyled">
									<li ng-repeat="invoice in invoices">
										<a>{{invoice.invoiceId}}</a>
									<li>
								</ul>
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Invoice ID</th>
											<th>Item ID</th>
											<th>Item Name</th>
											<th>Quantity</th>
											<th>Price</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>81981</th>
											<th>4524345</th>
											<th>catheder</th>
											<th>8</th>
											<th>5.99</th>
										</tr>
										<tr>
											<th>5783</th>
											<th>91816</th>
											<th>Used cat</th>
											<th>8</th>
											<th>12.99</th>
										</tr>
									<tbody>
								</table>
	        </div>
	    </div>
	</div>
</div>
