<a class="pull-right logout btn btn-info" ng-click="logout()"><span>Log out</span></a>
<h1 id="profileh1">Profile Page</h1>
<div class="container">
	<div class="row">
	    <div class="card hovercard">
	        <div class="info">
	        	<div class="user-role">
	        		{{ user.customerId }}
	        	</div>
	        	<div class="card-heading image">
		    		<img src="https://community.teamdynamix.com/Images/GenericUser.png" alt="profile picture">
		    	</div>
	            <div class="title">
	                {{ user.name }}
	            </div>
	            <div class="desc">{{ user.address }}</div>

			<div class="invoices">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Invoice ID</th>
							<th>Item ID</th>
							<th>Quantity</th>
							<th>Total price</th>
						</tr>
					</thead>
					<tbody ng-repeat="i in invoices track by $index">
						<tr>
							<th>{{ i.invoiceId }}</th>
							<th>{{ i.invoiceElement[0].itemId }}</th>
							<th>{{ i.invoiceElement[0].quantityAmt }}</th>
							<th>${{ i.amountBillable }}</th>
						</tr>
					<tbody>
				</table>
	        </div>
	    </div>
	</div>
</div>
