<a class="pull-right logout" ng-click="logout()"><span>Log out</span></a>
<h1 id="inventoryTitle">Invoice</h1>

<div class="no-items jumbotron">
  <div class="fail" ng-if="!items">
    <h3>Whoops!</h3>
    <h4>Your cart has no items</h4>
    <a ui-sref="inventory">Please try shopping again</a>
  </div>
  <div class="success" ng-if="items">
    <h3>Thank you shopping with us</h3>
    <h4>If you wish to buy more, please
      <a ui-sref="inventory">go back to the inventory</a>
    </h4>
  </div>
</div>