<span style="display:flex;">
  <h1 id="inventoryTitle">Packages</h1>
</span>

<button type="button" class="btn btn-success pull-right cart" data-toggle="modal" data-target="#cartModal">
  See truck
</button>


<table class="table table-striped">
    <thead>
      <tr>
        <th>Package ID #</th>
        <th>Invoice ID #</th>
        <th>Address</th>
        <th>Recipient</th>
        <th>Weight (kg)</th>
      </tr>
    </thead>
    <tbody>
      <tr class="data-entries" ng-repeat="p in packages track by $index" ng-click="addToCart($index)">
        <td>{{ p.packageId }}</td>
        <td>{{ p.invoiceId }}</td>
        <td>{{ p.address }}</td>
        <td>{{ p.recipient }}</td>
        <td>{{ p.weight }}</td>
        <td>
          <img ng-show="p.onTheTruck" id="onTheTruck" src="images/onTheTruck.ico" alt="truck logo">
        </td>
      </tr>
    </tbody>
</table>

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog">
  <div class="cart-container">
    <table id="cart" class="table table-hover table-condensed">
      <tbody id="cartItems">
        <tr ng-repeat="ts in toShip track by $index">
          <td id="cartItem" data-th="Product">
            <div class="row">
              <div>
                <h4>Id - {{ ts.packageId }} Address - {{ ts.address }}</h4>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><a class="btn btn-warning" data-dismiss="modal"><i class="fa fa-angle-left"></i> Go back</a></td>
          <td colspan="2"><input type="checkbox" ng-model="perishable"> Perishable</td>
          <td colspan="1" class="hidden-xs"></td>
          <td>
            <a ng-click="addCargo()" class="btn btn-success btn-block">Ship items
              <i class="fa fa-angle-right"></i>
            </a>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
