<a class="pull-right logout btn btn-info" ng-click="logout()"><span>Log out</span></a>
<span style="display:flex;">
  <h1 id="inventoryTitle">Packages</h1>
</span>


<table class="table table-striped">
    <thead>
      <tr>
        <th>Package ID #</th>
        <th>Invoice ID #</th>
        <th>Address</th>
        <th>Recipient</th>
        <th>Perishable</th>
        <th>Weight (kg)</th>
      </tr>
    </thead>
    <tbody>
      <tr class="data-entries" ng-repeat="p in packages track by $index">
        <td>{{ p.packageId }}</td>
        <td>{{ p.invoiceId }}</td>
        <td>{{ p.address }}</td>
        <td>{{ p.recipient }}</td>
        <td>{{ p.perishable }}</td>
        <td>{{ p.weight }}</td>
      </tr>
    </tbody>
</table>

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog">
  <div class="cart-container">
    <table id="cart" class="table table-hover table-condensed">
      <tbody id="cartItems">
        <tr ng-repeat="c in cart track by $index">
          <td id="cartItem" data-th="Product">
            <div class="row">
              <div class="col-sm-10">
                <h4 class="nomargin">{{ c.name }}</h4>
              </div>
            </div>
          </td>
          <td data-th="Price">${{ c.price }}</td>
          <td class="actions" data-th="">
            <button class="btn btn-danger btn-sm" ng-click="removeItemFromCart(c, $index)">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><a class="btn btn-warning" data-dismiss="modal"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
          <td colspan="2" class="hidden-xs"></td>
          <td class="hidden-xs text-center"><strong>Total: ${{ getTotalPrice() }}</strong></td>
          <td>
            <a ng-click="goToInvoice()" class="btn btn-success btn-block">Checkout
              <i class="fa fa-angle-right"></i>
            </a>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
