<span style="display:flex;"><h1 id="inventoryTitle">Customers</h1>
  <a style="margin: 30px 8px" ng-click="model.showAddForm = !model.showAddForm" ng-show="!model.showAddForm">add</a>
  <a style="margin: 30px 8px" ng-click="model.showAddForm = !model.showAddForm" ng-show="model.showAddForm">nah</a>
</span>
<table class="table table-striped">
  <thead>
    <th>Customer Name</th>
    <th>User Id</th>
    <th>Address</th>
  </thead>
  <tbody>
    <tr ng-show="model.showAddForm" style="background-color: green;">
        <th><img src="images/add.png" style="height:17px;"> <input type="text" name="name" ng-model="formData.fullName" placeholder="Customer Name"></th>
        <th><img src="images/add.png" style="height:17px;"> <input type="text" name="customerId" ng-model="formData.customerId" placeholder="Customer Id"></th>
        <th>
          <img src="images/add.png" style="height:17px;">
          <input type="text" name="address" ng-model="formData.address" placeholder="Customer Address">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img src="images/add.png" style="height:17px;">
          <input type="password" placeholder="password" ng-model="formData.password" placeholder="Customer Password">&nbsp;&nbsp;
          <input type="button" ng-click="addCustomer()" class="btn-sm btn-default" value="Add Customer">
        </th>
    </tr>
    <tr class="data-entries" ng-repeat="customer in customers track by $index">
      <th>
        <span ng-hide="model.showForm == ''+ $index + 1">{{customer.name || customer.fullName}}</span>
        <a class="edit-data" ng-hide="model.showForm == ''+ $index + 1" ng-click="showEditForm($index, 1)"><img src="images/pencil.png" style="height:8px;"></a>
        <span ng-show="model.showForm == ''+ $index + 1"><input type="text" ng-model="model.recordValue"> <img src="images/add.png" style="height:17px;" ng-click="editCustomer()"></span>
      </th>
      <th>
        <span ng-hide="model.showForm == ''+ $index + 0">{{customer.customerId}}</span>
        <a class="edit-data" ng-hide="model.showForm == ''+ $index + 0" ng-click="showEditForm($index, 0)"><img src="images/pencil.png" style="height:8px;"></a>
        <span ng-show="model.showForm == ''+ $index + 0"><input type="text" ng-model="model.recordValue"> <img src="images/add.png" style="height:17px;" ng-click="editCustomer()"></span>
       </th>
      <th>
        <span ng-hide="model.showForm == ''+ $index + 2">{{customer.address}}</span>
        <a class="edit-data" ng-hide="model.showForm == ''+ $index + 2" ng-click="showEditForm($index, 2)"><img src="images/pencil.png" style="height:8px;"></a>
        <span ng-show="model.showForm == ''+ $index + 2"><input type="text" ng-model="model.recordValue"> <img src="images/add.png" style="height:17px;" ng-click="editCustomer()"></span>
      </th>
      <th class="btn btn-danger" ng-click="deleteCustomer($index)">Delete</th>
    </tr>
  </tbody>
</table>
